{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}Ajout article
{% endblock %}

{% block TitrePage %}Ajout article{% endblock %}
{% block body %}
{#{{ form(form) }}#}{# génère l'intégralité du formulaire#}



    {{ form_start(form) }}

 <label for="">Nom de l'article</label>
    {{ form_row(form.nom) }}
 <label for="">Prix de l'article</label>
    {{ form_row(form.prix) }}
 <label for="">Photo de l'article</label>

 {{ form_row(form.photo) }}


    {{ form_row(form.Valider) }}
    {{ form_end(form) }}


{% endblock %}



